* {
    margin: 0;
    padding: 0;
}








header {
    display: flex;
    background: #00b894;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

header .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

header .logo img {

    width: 170px;



}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0px 5px;

}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;

}

header ul li a:hover,
header ul li a.active {
    color: #1b1b1b;
    background: #fff;
}

#click {
    display: none;
}

@media (max-width:940px) {
    header .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";

    }

    header ul {
        position: fixed;
        top: 70px;
        left: -100%;
        background: #00b894;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 20px;
        transition: all 0.3s ease;
        z-index: 1;
    }

    #click:checked~ul {
        left: 0%;

    }

    header ul li {
        margin: 40px 0px;
    }

    header ul li a {
        font-size: 20px;
        display: block;
    }

    header ul li a:hover,
    header ul li a.active {
        color: cyan;
        background: none;


    }


}

.background {


    background: url("5333978.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;

}




.intro {



    position: relative;
    margin: 110px 50px;
    width: 80%;
    height: auto;
    color: #00b894;

}

h5 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    margin: 0px 50px;
    background: #00b894;
    color: white;
    padding: 4px 4px;
    width: 60%;
}



h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    margin: 0px 50px
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 60px;
    margin: 0px 50px
}

p {
    margin: 0px 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 600px;
    padding: 0px 11px;
    background: #00b894;
    color: #fff;
    border-radius: 5px;
    padding: 7px 10px;


}

h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    margin: 5px 50px
}


@media (max-width:940px) {
    .intro {
        margin: 240px 0px;
        width: auto;
    }

    .intro h2 {
        font-size: 20px;
        margin: 0px 20px;
    }

    h5 {

        font-size: 14px;
        margin: 0px 20px;
        width: 80%;

    }

    .intro h1 {
        font-size: 42px;
        margin: 0px 17px;
    }

    .intro h3 {
        font-size: 25px;
        margin: 10px 20px;

    }

    .intro p {
        width: auto;
        font-size: 15px;
        margin: 0px 20px;
    }



}

.appointment {
    border: 2px solid #00b894;
    text-decoration: none;
    margin: 0px 50px;
    background: none;
    padding: 10px;
    color: #00b894;

    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    top: 20px;
}

@media (max-width:940px) {
    .appointment {
        font-size: 12px;
        margin: 0px 20px;


    }

}


.appointment:hover {
    color: #fff;
    overflow: hidden;
}

.appointment::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #00b894;
    z-index: -1;
    transition: 0.8s;
}

.appointment::before {
    top: 0;
    border-radius: 0 0 50% 50%;

}

.appointment:hover::before {
    height: 105%;
}

.meesho-link {
    border: 2px solid rgb(230, 101, 184);
    text-decoration: none;
    margin: 0px 30px;
    background: none;
    padding: 10px;
    color: rgb(230, 101, 184);

    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    top: 20px;
}

.meesho-link span {
    background: rgb(230, 101, 184);
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}

@media (max-width:940px) {
    .meesho-link {
        font-size: 12px;
        margin: 0px 20px;


    }

}

@media (max-width:940px) {
    .background {
        display: flex;

    }

}

.user-img {

    width: 450px;
    position: absolute;
    right: 4%;
    bottom: 120px;
    border-radius: 10px;
}

@media (max-width:940px) {
    .user-img {
        width: 300px;
        border-radius: 200px;
        bottom: 600px;
        right: 13%;
    }

}

footer {
    bottom: 0;
    position: fixed;
    background: none;
    width: 100%;
    max-width: inherit;
    height: 70px;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    width: 15px;
    border-radius: 5px;
}

@media (max-width:500px) {
    .fa {
        margin: 3px 5px;

    }

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #0f89e6;
    color: white;
}

.fa-youtube {
    background: #df1010;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-meesho {
    background: rgb(230, 101, 184);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}